<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="/css/3orood-ajar.css">
    <title>عروض الاجار</title>
</head>
<body>
    <div class="card">
        <div class="content">
            <h1 dir='rtl'
        lang='ar' id="name"></h1>
            <h2 dir='rtl'
            lang='ar'>البريد: <span id="email"></span></h2>
            <h2 dir='rtl'
            lang='ar'>المنطقة: <span id="place"></span></h2>
            <h2 dir='rtl'
            lang='ar'>رقم الهاتف: <span id="phone"></span></h2>
            <h2 dir='rtl'
            lang='ar'>السعر: <span id="price"></span></h2>
        </div>
    </div>
    <a href="home-me7.ejs"><button class="btn">العودة الى الصفحة الرئسية</button></a>
</body>
<script>
    const Name= localStorage.getItem("name");
    const Email =localStorage.getItem("email");
    const Place=localStorage.getItem("place");
    const Phone=localStorage.getItem("phone");
    const Price=localStorage.getItem("price");
    document.getElementById('name').textContent=Name;
    document.getElementById('email').textContent=Email;
    document.getElementById('place').textContent=Place;
    document.getElementById('phone').textContent=Phone;
    document.getElementById('price').textContent=Price;
</script>
</html>