<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>الصفحة الرئيسية</title>
    <link rel="stylesheet" href="/css/home-me7.css">
</head>
<body>
    
    <div class="container1">
        <div class="log"><img src="/img/logo.jpg" alt=""></div>
        <nav>
            <ul>
                <a href="home-me7.ejs">
                    <li class="active">
                    الصفحة الرئيسية
                     </li>
                </a>
                    <a href="tekdimat-akl.ejs">
                        <li>التقديمات الغذائية</li>
                </a>
                <a href="3orood-ajar.ejs">
                    <li>عروض الاجار</li>
            </a>
            <a href="tekdim.ejs">
                <li>عروض الاستقبال</li>
        </a>
        
            </ul>
        </nav>
    </div>

    <div class="content">
        <h1 class="head">اهلا بك في الصفحة الرئيسية للنازحين ؛ حيث يمكنك تقديم طلب للعون ان كان دعما غذائيا او مساعدة للحصول على مكان
        للجوء اليه</h1>
           </div>
    </div>
    <div class="div">
    <div class="container">
        <div class="wrapper">
        <div class="banner-image1"> </div>
        <h1>قدم طلب استأجار</h1>
        </div>
        <div class="button-wrapper"> 
        <a href="talab-ajar.ejs"><button class="btn fill">انقر للطلب</button></a>
        </div>
        </div>
            <div class="container">
                <div class="wrapper">
                <div class="banner-image2"> </div>
                <h1> قدم طلب للدعم الغذائي</h1>
                </div>
                <div class="button-wrapper"> 
                <button class="btn fill">انقر للطلب</button>
                </div>
                </div>
                </div>
</body>
</html>
