<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      margin: 0;
      padding: 0;
      background-image: url(/img/mm2.jpeg);
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh; /* Ensures the button is vertically centered */
    }
    
    button {
      padding: 10px 20px;
      font-size: 18px;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin-top: 600px;
    }
    
    button:hover {
      background-color: #45a049;
    }
    @media (max-width:400px){
      body {
        margin: 0;
        padding: 0;
        background-image: url(/img/mm2.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; /* Center the background image */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Ensures the button is vertically centered */
      }
      
      button {
        padding: 10px 20px;
        font-size: 18px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      
      button:hover {
        background-color: #45a049;
      }
    }
    
  </style>
  <title>جنوبنا</title>
</head>
<body>
  <a href="main2"><button>أدخل</button></a>
</body>
</html>
