<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main-home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400..700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Rakkas&display=swap" rel="stylesheet">

    <title></title>
</head>
<body>
  <nav>
    <ul>
      <li> <a href=""><button class="sign-button">سجل الدخول</button></a></li>
    </ul>
  </nav>
    <h1 class="logo">اسم الموقع</h1>
  <!-- Section One -->
  <section class="section-one"style="">
    <h2 class="header"style="color:#800000;position:absolute;margin-bottom:380px">وفاء .  كرم . و عطاء</h2>
    <p class="section-one-paragraph">مرحبًا بكم في موقعنا الذي يهدف إلى تقديم الدعم والمساعدة للأشخاص في جنوب لبنان. نحن هنا لنكون جزءًا من رحلتكم نحو التحسين والتطوير. سواء كنتم تبحثون عن مكان للسكن ، مواد غذائية ، أو معلومات حول المجتمع المحلي و احدث الاخبار، فإننا هنا لنقدم لكم المساعدة والإرشاد. تفضلوا بالاطلاع على محتوانا ولا تترددوا في التواصل معنا لأي استفسار أو مساعدة تحتاجونها
    </p>
  </section>
  <hr>
  <!-- Section Four -->
  <section class="section-four"style="background-color:black;">
    <div class="flex-group">
      <div>
        <img src="/img/damar.jpg">
      </div>
      <div class="text">
        <p class="text"style="color:white"> 
          نتيجة للقصف الإسرائيلي المتكرر على جنوب لبنان، تفاقمت الأوضاع الاقتصادية والاجتماعية بشكل كبير. يعاني السكان من دمار هائل في البنية التحتية والممتلكات العامة والخاصة، مما أدى إلى نقص حاد في الخدمات الأساسية مثل المياه والكهرباء.مما جعل الحياة يومًا بعد يوم أكثر صعوبة وتحديًا للسكان في الجنوب الحبيب.</p>
      </div>
    </div>
  </section>
  
  
  

  
<!-- Section Seven -->  

 
  <hr>
<!-- Section Eight -->
  <section class="section-eight">
    <div class="flex-group-eight">
      <div class="news">
        <img src="/img/damar3.jpg"style="width:700px;height:500px;"class="news-img">
        <div class="h4wp">
        <h4 style="color: #800000;font-size:2rem;margin-left:580px">آخر الأخبار</h4>
        <p style="width: 500px;color:white;margin-left:140px">بيروت 15-2-2024 وفا- استُشهد 7 مواطنين لبنانين من عائلة واحدة وأصيب أكثر من 6 آخرين بجروح، فجر اليوم الخميس، في قصف طائرات الاحتلال الإسرائيلي بناية سكنية وسط مدينة النبطية جنوب لبنان.

          وأفاد مراسلنا، بأن طائرات الاحتلال استهدفت البناية بصاروخ موجه على شقة سكنية لآل برجاوي وسط المدينة.
          
          ولفت إلى أن فرق الإسعاف والإغاثة تمكنت بعد منتصف الليل من انتشال الطفل حسين علي عامر من تحت الأنقاض حيا، بعد أكثر من 4 ساعات من البحث عن ناجين، فيما تم سحب 5 جثث تعود لصاحب الشقة حسين أحمد ضاهر برجاوي وابنتيه أماني حسين برجاوي وزينب حسين برجاوي، وشقيقته فاطمة أحمد برجاوي، وابن ابنته زينب الطفل محمود علي عامر، وتم نقلهم إلى مستشفيات النبطية.
          
          وأشار إلى أن البحث ما زال مستمرا عن جثماني زوجة برجاوي أمل محمود عودة وابنة شقيقته غدير ترحيني، كما تم نقل صهر برجاوي علي عامر وأكثر من 6 جرحى إلى المستشفيات.
          
          وأدت الغارة الإسرائيلية إلى أضرار جسيمة في المبنى المؤلف من 3 طبقات، ومن ضمنه الشقة المستهدفة، وبات المبنى آيلًا للسقوط بسبب التصدعات الكبيرة فيه. كما تضررت الأبنية المجاورة والسيارات المركونة في الطريق وشبكتا الكهرباء والهاتف.</p>
      </div>
        </div>
      
      <div class="map">
        <a href="map.ejs"><img src="/img/map.jpg"style="width:650px;height:450px;margin-left:840px"></a>
        <h4 style="color: #800000;font-size:1.5rem;margin-left:800px">أضغط على الخريطة للتحقق من نسب القصف على الأراضي الجنوبية في الآونة الأخيرة</h4>
</div>
    </div>
  </section>
  
  <!-- Section Nine -->
  


  <script src="/js/main-home.js"></script>
</body>
</html>