body{
    margin: 0;
    padding: 0;
    background-color:  #343a53;
    width: 100%;
    height: 100%;
}
.content{
    text-align: right;
    width: 100%;
    background-color: white;
    border-radius: 20px;
}
.card :hover{
        background-color: rgb(218, 215, 215);
        transition: 900ms;
}
.card h1{
    text-align: right;
    color: #f44566;
}
.kabse {
    color: #FFF;
    background-color: #f44566;
    font-size: 1rem;
    font-style: normal;
    border-radius: 10px;
    width:15%;
    height: 50px;
    border: 1px solid #f44566;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    display: inline-block;
  }
  .btn:hover{
    cursor: pointer;
  }
  .search-container {
    text-align: center;
    margin-top: 5px;
    margin-bottom:20px
}
.search-container select {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 20px;
    font-size: 16px;
}

/* Style the dropdown arrow */
.search-container select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px" height="24px"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 18px;
    cursor: pointer;
}

/* Hover effect */
.search-container select:hover {
    border-color: #999;
}

/* Focus effect */
.search-container select:focus {
    outline: none;
    border-color: #333;
}
@media (max-width: 480px) {
    .kabse {
        color: #FFF;
        background-color: #f44566;
        font-size: 12px;
        font-style: normal;
        border-radius: 10px;
        width:25%;
        height: 40px;
        border: 1px solid #f44566;
        border-width: 1px 1px 3px;
        box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
        display: inline-block;
        margin-top:20px;
      }
}