body{
    margin: 0;
    padding: 0;
    background-color:  #343a53;
    width: 100%;
    height: 100%;
}
.content{
    text-align: right;
    width: 100%;
    background-color: white;
    border-radius: 20px;
}
.card :hover{
        background-color: rgb(218, 215, 215);
        transition: 900ms;
}
.card h1{
    text-align: right;
    color: #f44566;
}
.kabse {
    color: #FFF;
    background-color: #f44566;
    font-size: 1rem;
    font-style: normal;
    border-radius: 10px;
    width:15%;
    height: 50px;
    border: 1px solid #f44566;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    display: inline-block;
  }
  .btn:hover{
    cursor: pointer;
  }