<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>عرض استقبال</title>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/talab-ajar.css">
</head>
<body>
  
    <div class="container">
        <form method="post" action="/aardEs">
            
          <label for="name3">الاسم الثلاثي</label>
          <input type="text" id="name3" name="name3" required>	
          <label for="city3">المنطقة</label>
          <select id="city3" name="city3" required>
            <option value=""></option>
              <option value="البقاع">البقاع</option>
              <option value="بيروت">بيروت</option>
              <option value="صور">صور</option>
              <option value="جبل لبنان">جبل لبنان</option>
            </select>
  
          <label for="email3">البريد الالكتروني</label>
          <input type="email" id="email3" name="email3" required>
          
          <label for="phone3">رقم الهاتف</label>
          <input type="tel" id="phone3" name="phone3" required>
  
          <div class="price-input"> 
            <div class="price-field"> 
                <label for="shit3">عدد الافراد الممكن استقباله</label>
                <select id="shit3" name="shit3"required>
                  <option value=""></option>
                    <option value="1-2(أفراد)">1-2(أفراد)</option>
                    <option value="2-3(أفراد)">2-3(أفراد)</option>
                    <option value="3-4(أفراد)">3-4(أفراد)</option>
                    <option value="4-5(أفراد)">4-5(أفراد)</option>
                    <option value="أكثر من 5 أفراد">اكثر من 5 أفراد</option>
                  </select>
            </div>
          </div> 
        <div class="container">			
        <button id="sub" class="btn" type="submit">نشر العرض</button></a>
        </div>
      </div>
         
          
        </form>
</body>
</html>