<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/sign1-1.css">
    <title>تسجيل الدخول</title>
</head>
<body>
    <a href="/homeDaa" alt="">
        <div class="card1">
          <div class="wrapper">
            <img src="/img/help1.jpg" class="cover-image" />
          </div>
          <img src="/img/da3em-title.png" class="title" />
          <img src="/img/da3em.png" class="character" />
        </div>
      </a>
      
      <a href="/me7">
        <div class="card2">
          <div class="wrapper">
            <img src="/img/me7.jpg" class="cover-image" />
          </div>
          <img src="/img/me7-title.png" class="title2" />
          <img src="/img/me72.png" class="character" />
        </div>
      </a>
</body>
</html>