<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/map.css">
    <title>خريطة القصف</title>
</head>
<body>
    <div class="map-container">
        <img src="/img/map2.jpg" alt="" class="map">
    </div>
    <footer>
        <h1 style="color:white;text-align:right;font-size:1.5rem">آخر تحديث : 2024/4/26</h1>
    </footer>
</body>
</html>